<h1>Treat Raffler</h1>

<div ng-controller="RaffleCtrl">
  <form ng-submit="addEntry()">
    <input type="text" ng-model="newEntry.name">
    <input type="submit" value="Add">
  </form>
  
  <ul>
  	<li ng-repeat="entry in entries">
  		{{entry.name}}
  		<span ng-show="entry.winner" ng-class="{highlight: entry == lastWinner}" class="winner">TREATED</span>
      <a ng-click="deleteEntry($index)" href="#">X</a>
  	</li>
  </ul>

  <button ng-click="drawWinner()">Give Treat</button>
  <button ng-click="resetWinners()">Reset Winners</button>
  <button ng-click="clearEntries()">Clear</button>
</div>