
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);

html, body {
  margin: 15px;
  background:url(image_path('honey_im_subtle.png'));
}

ul {
  list-style: none;
}

.panel {
  border-bottom: solid 1px #CCC;
  position: relative;
  a {
    color: #CCC;
    font-size: 12px;
  }
  a:hover {
    color: red;
  }
  .stat {
    position: absolute;
    right: 10px;
    margin-top: -10px;
  }
}

.entryName {
  font-family: 'Rock Salt', cursive;
}